.footer{
        position: fixed;
        top: 0em;
        z-index: 1400;
        width: 100%;
        height: 4.4rem;
        background-color: rgba(0, 0,0, .8);
        backdrop-filter: blur(2rem);

}

.footer h2{
    font-size: 1rem;
    font-weight: 500; 
}